<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<div id="page-container">
    <div id="content-wrap">
        <div>
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <td>Title Id</td>
                    <td>Title</td>
                    <td>Author</td>
                    <td>Published</td>
                </tr>
                </thead>
                <tr th:each="title: ${titleList}">
                    <td th:text="${title.id}"></td>
                    <td th:text="${title.title}"></td>
                    <td th:text="${title.author}"></td>
                    <td th:text="${title.year}"></td>
                    <td>
                        <form class="form-group" action="/books/add" method="post">
                            <button type="submit" name="id" th:value="${title.id}" class="btn btn-secondary btn-sm">Add
                                a new copy
                            </button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
        <div>
            <button onclick="location.href='/titles/add' " type="button" class="btn btn-light">Add a title</button>
        </div>
    </div>
    <footer id="footer">
        <button onclick="location.href='./users' " type="button" class="btn btn-info">Users</button>
        <button onclick="location.href='./books'" type="button" class="btn btn-info">Books</button>
        <button onclick="location.href='./loans'" type="button" class="btn btn-info">Loans</button>
        <button onclick="location.href='./' " type="button" class="btn btn-info">Home</button>
    </footer>
</div>
</body>
</html>