<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<div id="page-container">
    <div id="content-wrap">
        <div>
            <table class="table">
                <thead>
                <tr>
                    <td>User Id</td>
                    <td>First name</td>
                    <td>Last name</td>
                    <td>Account created on</td>
                </tr>
                </thead>
                <tr th:each="user: ${userList}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.firstName}"></td>
                    <td th:text="${user.lastName}"></td>
                    <td th:text="${user.accountCreationDate}"></td>
                </tr>
            </table>
        </div>
        <div>
            <button onclick="location.href='http://localhost:8080/users/add'" type="button" class="btn btn-light">Add
                User
            </button>
        </div>
    </div>
    <footer id="footer">
        <button onclick="location.href='http://localhost:8080/titles'" type="button" class="btn btn-info">Titles</button>
        <button onclick="location.href='http://localhost:8080/books'" type="button" class="btn btn-info">Books</button>
        <button onclick="location.href='http://localhost:8080/loans'" type="button" class="btn btn-info">Loans</button>
        <button onclick="location.href='http://localhost:8080/' " type="button" class="btn btn-info">Home</button>
    </footer>
</div>
</body>
</html>